<jhi-alert></jhi-alert>

<div>
    <h2 class="pi-main-title">Courses</h2>

    <div class="search-box-wp">
        <div class="form-group">
            <label for="filter_text">Filter:</label>
            <input type="text" class="form-control input-sm" id="filter_text" ng-model="courseText">
        </div>
        <button class="btn pi-add-button" ui-sref="course-pi.new">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>


<div class="pi-card-wp">
    <div class="blog-card spring-fever" ng-repeat="course in vm.courses | filter: courseText">
        <div class="title-content">
            <h2>{{course.name}}</h2>
        </div><!-- /.title-content -->
        <p class="card-info">
            {{course.description}}
        </p><!-- /.card-info -->
        <div class="utility-info">
            <ul class="utility-list">
                <li class="date">Subject: {{course.subject}}</li>
            </ul>
        </div><!-- /.utility-info -->
        <button type="submit"
                ui-sref="course-pi-detail({id:course.id})"
                class="pi-action-button">
            <span class="glyphicon glyphicon-eye-open"></span>
            <span class="hidden-sm-down"></span>
        </button>
        <button type="submit"
                ui-sref="course-pi.edit({id:course.id})"
                class="pi-action-button">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down"></span>
        </button>
        <button type="submit"
                ui-sref="course-pi.delete({id:course.id})"
                class="pi-action-button">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="hidden-sm-down"></span>
        </button>
    </div><!-- /.blog-card -->
</div>


