
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySessionMaterialLabel">Create or edit a Session Material</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sessionMaterial.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sessionMaterial.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idSession">Id Session</label>
            <input type="number" class="form-control" name="idSession" id="field_idSession"
                    ng-model="vm.sessionMaterial.idSession"
                    required/>
            <div ng-show="editForm.idSession.$invalid">
                <p class="help-block"
                    ng-show="editForm.idSession.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idSession.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idMaterial">Id Material</label>
            <input type="number" class="form-control" name="idMaterial" id="field_idMaterial"
                    ng-model="vm.sessionMaterial.idMaterial"
                    required/>
            <div ng-show="editForm.idMaterial.$invalid">
                <p class="help-block"
                    ng-show="editForm.idMaterial.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idMaterial.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_session">Session</label>
            <select class="form-control" id="field_session" name="session" ng-model="vm.sessionMaterial.sessionId" ng-options="session.id as session.id for session in vm.sessions"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_material">Material</label>
            <select class="form-control" id="field_material" name="material" ng-model="vm.sessionMaterial.materialId" ng-options="material.id as material.id for material in vm.materials"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
