
<div>
    <h2><span>Material</span> {{vm.material.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.material.name}}</span>
        </dd>
        <dt><span>Material File</span></dt>
        <dd>
            <div ng-if="vm.material.materialFile">
                <a ng-click="vm.openFile(vm.material.materialFileContentType, vm.material.materialFile)">open</a>
                {{vm.material.materialFileContentType}}, {{vm.byteSize(vm.material.materialFile)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="material-pi-detail.edit({id:vm.material.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
