<div>
    <h2>Materials</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="material-pi.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Material
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Material File</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="material in vm.materials track by material.id">
                    <td><a ui-sref="material-pi-detail({id:material.id})">{{material.id}}</a></td>
                    <td>{{material.name}}</td>
                    <td>
                        <a ng-if="material.materialFile" ng-click="vm.openFile(material.materialFileContentType, material.materialFile)">open</a>
                        <span ng-if="material.materialFile">{{material.materialFileContentType}}, {{vm.byteSize(material.materialFile)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="material-pi-detail({id:material.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="material-pi.edit({id:material.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="material-pi.delete({id:material.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
