/*
Navbar
 */
nav span{
    color: #ffffff !important;
}
.dropdown-menu span {
    color: #333 !important;
}
.navbar-default .navbar-nav > .active > a,.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #286090!important;
}
.navbar-default {
    background-color: #337ab7!important;
}
