/*
Navbar
 */
nav span{
    color: #ffffff !important;
}
.dropdown-menu span {
    color: #333 !important;
}
.navbar-default .navbar-nav > .active > a,.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #286090!important;
}
.navbar-default {
    background-color: #337ab7!important;
}

.pi-action-button{
    background-color: transparent;
    color: black;
    border: none;
}

.pi-container {
    padding: 20px;
    max-width: 1200px;
}

.pi-card {
    background-color: #BBDEFB;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
    vertical-align: middle;
}

.pi-course-icon-wp {
    width: 60px;
    vertical-align: top;
    padding-top: 10px;
}

.pi-course-icon {
    font-size: 40px;
}

.pi-card-content {
    width: calc(100% - 120px);
}

.pi-card-content, .pi-course-icon-wp{
    display: inline-block;
}

dt,dd {
    display: inline-block;
}
