
.cld-main {
    width: 330px;
}

.cld-main a {
    color: #333;
    font-weight: bold;
}

.cld-datetime {
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}

.cld-datetime .today {
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
}

.cld-nav {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.cld-nav:hover {
    cursor: pointer;
}

.cld-nav:hover svg {
    fill: #666;
}

.cld-rwd {
    float: left;
}

.cld-fwd {
    float: right;
}

.cld-nav svg:hover {

}

.cld-labels, .cld-days {
    padding-left: 0;
}

.cld-label, .cld-day {
    display: inline-block;
    width: 14.28%;
    text-align: center;
}

.cld-day.today .cld-number {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 1px solid #999;
}

.cld-day.disableDay {
    opacity: 0.5;
}

.cld-day.nextMonth, .cld-day.prevMonth {
    opacity: 0.33;
}

.cld-number {
    position: relative;
    margin: 5px;
    padding: 5px;
}

.cld-title {
    position: absolute;
    z-index: 5;
    display: none;
    top: 30px;
    left: 0;
    padding: 5px 10px;
    background: #fff;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.cld-number:hover .cld-title {
    display: block;
}

.cld-title::before {
    content: '';
    position: absolute;
    top: -7.5px;
    left: 7.5px;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;

    border-bottom: 7.5px solid #ccc;
}

.cld-number.eventday {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: rgb(201, 181, 91);
    border-radius: 50px;
    border: 1px solid #999;
    color: #fff;
}

.cld-number.eventday:hover {
    cursor: pointer;
}

.today .cld-number.eventday:hover {
    background: #888;
}

body {
    background-color: white !important;
    margin-bottom: 80px !important;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    background-color: #f2f2f2;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 80px;
}

.footer a, .footer a:focus, .footer a:visited {
    color: #337ab7;
}

@media (max-width: 991px) {
    body {
        margin-bottom: 217px !important;
    }

    .footer {
        height: 217px !important;
    }

}

.list-contact-us {
    list-style-type: none;
    padding: 0;
}

/*
Navbar
 */
nav span {
    color: #ffffff !important;
}

#pi-dropdown span {
    color: #ffffff !important;
}

.navbar-default .navbar-nav .open #pi-dropdown > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: transparent;
}

.pi-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-default .navbar-nav > .active > a, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.pi-action-button {
    background-color: transparent;
    color: rgb(201, 181, 91);
    border: none;
}

.pi-container {
    padding: 60px 20px 20px;
    max-width: 1200px;
}

.pi-course-icon-wp {
    width: 60px;
    vertical-align: top;
    padding-top: 10px;
}

.pi-course-icon {
    font-size: 40px;
}

.pi-card-content {
    width: calc(100% - 120px);
}

.pi-card-content, .pi-course-icon-wp {
    display: inline-block;
}

dt, dd {
    display: inline-block;
}

.search-box-wp {
    margin-top: 20px;
}

.search-box-wp .form-group {
    display: inline-block;
    text-align: left;
}

.search-box-wp input {
    width: 250px;
}

.blog-card {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
}

.blog-card.spring-fever {
    background: rgb(247, 247, 247);
}

.title-content {
    text-align: center;
    width: 100%;
    font-family: 'Droid Serif', serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.blog-card h2 {
    padding: 5px;
}

.blog-card hr {
    width: 50px;
    height: 3px;
    margin: 20px auto;
    border: 0;
    background: #D0BB57;
}

.intro {
    margin: 0 auto;
    color: black;
    font-family: 'Droid Serif', serif;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
}

.card-info {
    width: 100%;
    color: black;
    font-family: 'Droid Serif', serif;
    line-height: 24px;
    margin-bottom: 10px;
    display: -webkit-box;
    height: 96px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.utility-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.utility-list li {
    margin: 0 15px 0 0;
    display: inline-block;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.pi-card-wp {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pi-main-title {
    text-align: center;
}

.pi-add-button, .pi-add-button:hover, .pi-add-button:active {
    background-color: rgba(0, 0, 0, 0.8);
    color: white !important;
    box-shadow: 1px 3px 4px #888888;
    border-radius: 50% !important;
    display: block !important;
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 60px;
    width: 60px;
    z-index: 999;
}

.title-box h2, .search-box-wp {
    display: inline-block;
}

.title-box {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.calendar-wp {
    margin-top: 40px;
    text-align: center;
}

#calendar {
    display: inline-block;
}

@media (min-width: 670px) {
    .blog-card {
        width: calc(50% - 40px);
    }
}

@media (min-width: 1100px) {
    .blog-card {
        width: calc(33% - 40px);
    }
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav > .active > a, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }

    .navbar-default {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }

    #pi-dropdown span, .dropdown-menu span {
        color: black !important;
    }
}

.pi-button {
    background-color: black !important;
    border: none !important;
    margin-top: 10px;
}

.pi-button-transparent {
    opacity: 0.7;
}

.materials-list {
    margin-top: 30px;
}

.materials-list .card-info {
    height: auto;
}

.materials-title {
    margin-top: 30px;
}

.pi-button:focus {
    border-color: transparent !important;
}

.materials-list a, .materials-list a:focus, .materials-list span {
    color: rgb(201, 181, 91)  !important;
    border-color: transparent !important;
}

.materials-list button {
    margin-right: 5px;
}

.add-material-button {
    color: white !important;
}

.pi-carousel-item {
    background-size: contain;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

.c-item-1 {
    background-image: url("../../content/images/hard-work.jpg");
}

.c-item-2 {
    background-image: url("../../content/images/things.jpg");
}

.c-item-3 {
    background-image: url("../../content/images/things.jpg");
}

.carousel-wp {
    margin-top: 40px;
}

@media (min-width: 670px) {
    .carousel-wp {
        display: inline-block;
        width: 45%;
    }

    .calendar-wp {
        float: right;
    }
}
